

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 7px;
}

.navigation::-webkit-scrollbar-thumb {
    background: #f3f3f3;
}

.navigation:hover::-webkit-scrollbar-thumb {
    background: #DDDDDD;
}
